{
    "presets": [
        [
            "@babel/env",
            {
                "corejs": 3,
                "useBuiltIns": "usage",
                "modules": false,
                "debug": true
            }
        ],
        "@babel/react"
    ],
    "plugins": [
        "react-hot-loader/babel",
        "@babel/proposal-class-properties"
    ]
}