@import "node_modules/react-image-gallery/styles/scss/image-gallery";
@import 'src/scss/variables';


.image-gallery {
    .image-gallery-content {
        .image-gallery-slide {
            &.left, &.right {
                visibility: hidden;
            }
            div {
                position: relative;
                display: inline-block;
                .image-gallery-image {
                    // max-height: calc(100vh - 160px);
                    height: calc(100vh - 220px);
                    width: auto;

                }
            }
        }
        .image-gallery-icon {
            .image-gallery-svg {
                opacity: 0.7;
                transform: none;
                &:hover {
                    opacity: 1;
                }
            }
        }
        .image-gallery-thumbnails {
            padding-top: 20px;
            .image-gallery-thumbnail {
                &.active, &:hover, &:focus {
                    border-color: rgba($color: $yellow, $alpha: 0.9);
                }
            }
        }

    }
}
