$white: #FFFFFF;
$yellow: rgba(235, 172, 11, 0.9);
$sidebar-bg: rgba(0, 0, 0, 0.5);
$main-bg: linear-gradient(180.22deg, #366579 0.19%, #1D3820 19.85%, #412228 50.74%, #0F2027 80.41%); 

// 
$border: 1px solid #ebac0bc4;
