@import "../../scss/variables";

footer {
    margin-top: 70px;
    .footer-info {
        font-size: 13px;
    	letter-spacing: 0.15em;
        .info_block {
            margin-bottom: 17px;
            &:last-child {
            margin-bottom: 45px;
            }
            &_title {
                font-weight: 400;
                margin-bottom: 10px;
                text-transform: lowercase;
                &_text {
                    vertical-align: bottom;
                }
                &_icon {
                    width: 22px;
                    height: auto;
                    vertical-align: bottom;
                    margin-right: 14px;
                }
            }
            &_descr {
                font-weight: 300;
                .phone_number {
                    display: block;
                    margin-bottom: 2px;
                }
            }
        }
    }

    .footer-social{
        border-top: $def-border;
        padding: 20px 0 15px 0;
        .social_link {
            display: inline-block;
            margin-right: 30px;
            &:hover {
                #vb {
                    path {
                        fill: #6F3FAA;
                    }

                }
                #fb {
                    path {
                        fill: #506EAF;
                    }
                    rect {
                        stroke: #506EAF;
                    }
                }
                #inst {
                    #rect {
                        transition: stroke 0.25s;
                        stroke: url(#gr);
                    }
                    #cirle_bg {
                        stroke: url(#gr);
                    }
                    #cirle_sm {
                        stroke: url(#gr);
                        fill: url(#gr);
                    }
                } 
            }
            &_icon {
                width: 32px;
                height: auto;
                path, cirle, rect {
                    transition: fill 0.25s, stroke 0.25s;
                }
            }
        }
    }
}
