@import "./variables";
#root {
    min-height: 100%;
    position: relative;
    background: $main-bg;
  }
  a {
    color: $white;
    &:hover {
      color: #ffff;
      text-decoration: none;
    }
  }