$white: #ffffff;
$yellow: #EBAC0B;
$red: #d01d1d;
$gray: #959497;
$black: rgba(0, 0, 0, 0.9);
$black-secondary: rgba(0, 0, 0, 0.6);
$blue: #2554c2;

$opacity: 0.8;
$opacity-on-hover: 1;

$sidebar-bg: rgba(0, 0, 0, 0.5);
$main-bg: linear-gradient(180deg, #366579 0.19%, #1D3820 19.85%, #412228 50.74%, #0F2027 80.41%); 
$sidebar-bg: #010c05;
$form-bg: rgba(0, 0, 0, 0.7);