$white: #ffffff;
$yellow: rgba(235, 172, 11, 0.9);
$sidebar-bg: rgba(0, 0, 0, 0.5);
$main-bg: linear-gradient(180.22deg, #366579 0.19%, #1D3820 19.85%, #412228 50.74%, #0F2027 80.41%); 
$sidebar-bg: rgba(0, 0, 0, 0.5);
$def-border: 1px solid $yellow;

@mixin button {
    width: 190px;
    height: 70px;
    background: transparent;
    border: $def-border;
    padding: 10px;
    font-weight: 300;
    font-size: 15px;
    letter-spacing: 0.1em;
    line-height: 24px;
    outline:1px solid #0000;
    outline-offset:60px;
    transition:0s;
    &:hover {
        outline-offset:-1px;
        border-color:#0000;
        outline-color:$yellow;
        transition:0.5s;
      }
}
