@import "./fonts";
@import "./variables";

* {
  color: $white;
	font-family: Montserrat;
  line-height: normal;
}
html, body {
  position: relative;
  overflow-x: hidden;
  height: 100%;
}

@import "./main";